---
import { ui } from "@/i18n/ui";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import concat_us from "@/assets/image/dummi/footer image.png";
const local = Astro.currentLocale as "en" | "it";
import ContactForm from "./ContactForm";
---

<section class="wrapper flex flex-col gap-10 md:gap-16">
  <menu class={` grid md:gap-20 gap-10 w-full`}>
    {
      ui[local]["contact us"].details.location.map((item) => (
        <li class="grid gap-6">
          {item.title && (
            <h3 class="text-vim-blue text-2xl font-medium">{item.title}</h3>
          )}
          <menu class="grid w-full gap-8 sm:grid-cols-2 md:gap-10 2xl:grid-cols-3">
            {item.data.map((loc) => (
              <li id={loc.id} class="flex flex-col gap-6">
                <h3 class="text-xl font-medium">{loc.type}</h3>
                <menu class="flex flex-col sm:flex-row sm:flex-wrap gap-4 h-full">
                  {loc.links.map((link) => (
                    <li class={"flex flex-col sm:first:w-full sm:not-first:mt-auto break-words min-w-0"}>
                      <span class="text-vim-blue flex items-center gap-3">
                        <Icon name={link.icon} /> {link.title}
                      </span>
                      <a
                        href={link.link.href}
                        target="_blank"
                        set:html={link.link.text}
                      />
                    </li>
                  ))}
                </menu>
              </li>
            ))}
          </menu>
        </li>
      ))
    }
  </menu>
  <div class="grid max-w-[900px] items-start gap-20 md:grid-cols-2">
    <ContactForm client:visible local={local!} />
    <div class="flex gap-2">
      <div
        class="flex aspect-square h-full w-auto items-center justify-center overflow-hidden rounded-md"
      >
        <Image
          src={concat_us}
          alt=""
          class="aspect-square h-[100px] w-auto shrink-0 object-cover"
        />
      </div>
      <div id="contact-md" class="flex flex-col items-start gap-2">
        <p class="max-w-[20ch]">
          {ui[local]["contact us"].details.md.subtitle}
        </p>

        <a
          href="mailto:sales@vimecvalves.co.uk"
          class="bg-vim-blue hover:text-vim-blue border-vim-blue mt-auto cursor-pointer rounded-md border-2 px-6 py-2.5 text-center font-medium text-white uppercase duration-300 hover:bg-white"
        >
          {ui[local].sections.footer.md["button-name"]}
        </a>
      </div>
    </div>
  </div>
</section>
