---
import main_padding from "@/styles/padding";
import { Image } from "astro:assets";
import logo from "@/assets/image/vimec-logo.png";
import concat_us from "@/assets/image/dummi/footer image.png";

import { Icon } from "astro-icon/components";
import Link from "@/libs/helpers/Link.astro";
import { ui } from "@/i18n/ui";
import { defaultLang } from "@/i18n/ui";
import CustomBtn from "@/ui/CustomBtn.astro";
import { socialMedia } from "@/libs/content/mics";

interface Props {
  hideTop: boolean;
}

const { hideTop = false } = Astro.props;

const local = Astro.currentLocale as "en" | "it";
---

<footer
  transition:name="footer"
  class={`${main_padding.t} flex flex-col items-center justify-center text-black  ${!hideTop && "border-t-vim-red/15 border-t "}`}
>
  <menu
    style={`display:${hideTop ? "none" : ""}`}
    class="wrapper mb-10 grid w-full grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 items-stretch"
  >
    <li class="flex flex-col items-center text-center sm:grid sm:grid-cols-2 sm:gap-10 lg:flex lg:flex-col lg:items-start lg:text-left h-full gap-8 sm:col-span-2 lg:col-span-1 w-full">
      <div class="flex justify-center lg:justify-start w-full">
        <Image
          src="https://raw.githubusercontent.com/vimecvalves/Public/refs/heads/main/New%20Logo.svg"
          width={200}
          height={90}
          alt="Vimec Logo"
          class="h-[110px] sm:h-[90px] w-auto object-contain object-center lg:object-left"
        />
      </div>
      <div class="flex flex-col items-center lg:items-start justify-center lg:justify-between gap-4 lg:gap-6 lg:h-full w-full">
        <div class="flex flex-col items-center lg:items-start justify-center lg:justify-start gap-4">
          <p class="max-w-[30ch]">
            {ui[local].sections.footer["follow-us-on"]}
          </p>

          <menu class="flex items-center justify-center lg:justify-start gap-4 scale-110 sm:scale-100 origin-center lg:origin-left">
            {
              socialMedia.map((item) => (
                <a
                  href={item.link}
                  target="_blank"
                  aria-label={`Visit our ${item.icon.split(':')[1] || 'Social'} page`}
                  class="text-vim-blue hover:bg-vim-blue flex aspect-square h-auto items-center justify-center rounded border border-current p-2 hover:text-white transition-colors"
                >
                  <Icon name={item.icon} />
                </a>
              ))
            }
          </menu>
        </div>

        <div class="hidden lg:flex h-fit flex-col sm:flex-row items-center sm:items-center justify-center sm:justify-start gap-3">
          <div class="flex aspect-square h-[4.5rem] w-max shrink-0 items-center justify-center overflow-hidden rounded-md bg-gray-100">
            <Image src={concat_us} alt="" class="size-full object-cover" />
          </div>
          <div class="flex flex-col items-center sm:items-start gap-2 text-sm text-center sm:text-left">
            <p class="max-w-[20ch] leading-tight">{ui[local].sections.footer.md.subtile}</p>
            <a
              href="mailto:sales@vimec-valves.ae"
              aria-label="Email sales@vimec-valves.ae"
              class="inline-flex items-center justify-center text-vim-blue hover:bg-vim-blue border-vim-blue cursor-pointer rounded-md border px-3 py-1 text-xs font-medium uppercase duration-300 hover:text-white whitespace-nowrap"
            >
              {ui[local].sections.footer.md["button-name"]}
            </a>
          </div>
        </div>
      </div>
    </li>

    {
      ui[local].sections.footer.links.slice(0, 2).map((item) => (
        <li class="flex flex-col h-full xl:grid xl:h-fit gap-2 border-t border-gray-200 pt-6 mt-6 sm:mt-0 lg:border-none lg:pt-0">
          <div class="flex flex-col gap-2 sm:flex-1 xl:flex-none">
            <p class="text-vim-blue font-medium leading-[1.4] relative inline-block w-fit pr-7 max-w-full">
              {"icon" in item && <Icon name={item.icon} class="inline-block align-middle mr-1 shrink-0" />}
              <span class="align-middle">{item.title}</span>
              {"flag" in item && <Icon name={item.flag} class="absolute top-[2px] right-0 text-[1.25em]" />}
            </p>
            {"link" in item && (
              <Link set:html={item.link.text} href={item.link.href} />
            )}
          </div>

          {item.links && (
            <div class="mt-4 sm:mt-auto xl:mt-4 flex flex-col gap-1 lg:gap-2">
              {item.links.map((nest) => (
                <Link
                  href={nest.href}
                  class="flex items-start justify-start gap-3"
                >
                  <span class="w-5 shrink-0 flex items-center justify-center mt-0.5">
                    <Icon name={nest.icon} class="text-vim-blue text-[1.1rem]" />
                  </span>
                  <span class="flex-1 break-words">
                    {nest.text}
                    {"flag" in nest && (
                      <Icon name={nest.flag} class="inline-block ml-2 text-xs" />
                    )}
                  </span>
                </Link>
              ))}
            </div>
          )}
        </li>
      ))
    }

    {
      ui[local].sections.footer.links.slice(-1).map((item) => (
        <li class="flex flex-col sm:grid sm:grid-cols-2 lg:flex lg:flex-col gap-6 lg:gap-6 h-full xl:h-fit border-t border-gray-200 pt-6 mt-6 sm:mt-0 lg:border-none lg:pt-0 sm:col-span-2 lg:col-span-1">
          <div class="flex flex-col h-full xl:grid xl:h-fit gap-2">
            <div class="flex flex-col gap-2 sm:flex-1 xl:flex-none">
              <p class="text-vim-blue font-medium leading-[1.4] relative inline-block w-fit pr-7 max-w-full">
                {"icon" in item && <Icon name={item.icon} class="inline-block align-middle mr-1 shrink-0" />}
                <span class="align-middle">{item.title}</span>
                {"flag" in item && <Icon name={item.flag} class="absolute top-[2px] right-0 text-[1.25em]" />}
              </p>
              {"link" in item && (
                <Link set:html={item.link.text} href={item.link.href} />
              )}
            </div>

            {item.links && (
              <div class="mt-4 sm:mt-auto xl:mt-4 flex flex-col gap-1 lg:gap-2">
                {item.links.map((nest) => (
                  <Link
                    href={nest.href}
                    target={nest.target}
                    class="flex items-start justify-start gap-3"
                  >
                    <span class="w-5 shrink-0 flex items-center justify-center mt-0.5">
                      <Icon name={nest.icon} class="text-vim-blue text-[1.1rem]" />
                    </span>
                    <span class="flex-1 break-words">
                      {nest.text}
                      {"flag" in nest && (
                        <Icon name={nest.flag} class="inline-block ml-2 text-xs" />
                      )}
                    </span>
                  </Link>
                ))}
              </div>
            )}
          </div>

          <div class="flex lg:hidden flex-col items-center justify-center gap-6 sm:gap-5 mt-8 sm:mt-0 h-full w-full">
            <div class="flex aspect-square h-[6.5rem] sm:h-[5.5rem] w-max shrink-0 items-center justify-center overflow-hidden rounded-md bg-gray-100">
              <Image src={concat_us} alt="" class="size-full object-cover" />
            </div>
            <div class="flex flex-col items-center gap-4 sm:gap-3 text-base sm:text-[15px] text-center">
              <p class="max-w-[20ch] leading-tight">{ui[local].sections.footer.md.subtile}</p>
              <a
                href="mailto:sales@vimec-valves.ae"
                aria-label="Email sales@vimec-valves.ae"
                class="inline-flex items-center justify-center text-vim-blue hover:bg-vim-blue border-vim-blue cursor-pointer rounded-md border px-5 py-2 text-sm sm:px-4 sm:py-1.5 sm:text-[13px] font-medium uppercase duration-300 hover:text-white whitespace-nowrap"
              >
                {ui[local].sections.footer.md["button-name"]}
              </a>
            </div>
          </div>
        </li>
      ))
    }
  </menu>

  <div class="border-vim-blue w-full border-t py-6">
    <div
      class="wrapper flex items-center justify-center gap-6 text-xs max-sm:justify-between sm:flex-wrap-reverse sm:justify-between sm:text-center sm:text-sm"
    >
      <p class="max-sm:max-w-[40vw]">{ui[local].sections.footer.copyright}</p>

      <menu
        class="flex items-end justify-start max-sm:flex-col sm:items-center sm:justify-center sm:gap-6"
      >
        {
          ui[local].sections.footer["Terms & Policy"].map((item, idx) => (
            <Link
              href={ui[defaultLang].sections.footer["Terms & Policy"][idx].link}
            >
              {item.title}
            </Link>
          ))
        }
      </menu>
    </div>
  </div>
</footer>
