---
import Layout from "@/components/layout/Layout.astro";
import HeroSection from "@/components/news&events/[id]/HeroSection.astro";
import { contentfulClient } from "@/libs/content/contentful/data";
import type { TypeNewsNEvents } from "@/libs/content/contentful/entriesType";
import main_padding from "@/styles/padding";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { Image } from "astro:assets";

const { id } = Astro.params;
const local = Astro.currentLocale as "en" | "it";
export const prerender = false;

const data = await contentfulClient.getEntry<TypeNewsNEvents>(id!, {
  locale: local,
});
---

<Layout>
  <HeroSection {...data} />

  <section
    class:list={["wrapper mt-6 flex flex-col items-start", main_padding.b]}
  >
    <Image
      src={data.fields.featuredImage.fields.file.url}
      alt={data.fields.featuredImage.fields.file.fileName}
      transition:name={data.fields.featuredImage.fields.file.url}
      width={data.fields.featuredImage.fields.file.details.image.width}
      height={data.fields.featuredImage.fields.file.details.image.height}
      class="max-h-[800px] w-full rounded-[20px] object-cover"
    />
    <span
      class="mt-6 [column-gap:30px] md:[column-count:2]"
      set:html={documentToHtmlString(data.fields.description)}
    />
  </section>
</Layout>
